*{
	font-size: 12px;
}

html,body{
	width:100%;/*注意   分辨率：宽*高 */
	height:100%;
	margin:0;
	padding:0px;
}
.all{
	width:770px;
	height: 800px;
	border:1px solid black;
	margin: 0 auto;
}

.h199{

	width:243px;
	height:800px;
	float: left;
	border:1px solid black;
	
}

.h1{
	width:243px;
	height:125px;
	float: left;
	background-image:url(image/h11.jpg); 
	background-repeat: no-repeat;
}


.h11{
	margin-top: 150px;
	margin-left: 15px;
}

.h12{
	width:222px;
	height:41px;
	float: left;
	margin-left: 12px;
	margin-top: 10px;
	
	background-image:url(image/no-title/h12.gif); 
	background-repeat: no-repeat;
}


.h13{

	width:119px;
	height:75px;
	float: left;
	margin-left: 12px;
	margin-top: 20px;
	
	background-image:url(image/no-title/h13.gif); 
	background-repeat: no-repeat;
	display: inline-block;

}

.h131{

	width:95px;
	height:75px;
	float: right;
	
	margin-top: 20px;
	
	border:0px solid black;
	display: inline-block;

}

.h14{

	width:119px;
	height:75px;
	float: left;
	margin-left: 12px;
	margin-top: 20px;
	
	background-image:url(image/no-title/h14.gif); 
	background-repeat: no-repeat;
	display: inline-block;

}

.h15{

	width:119px;
	height:75px;
	float: left;
	margin-left: 12px;
	margin-top: 20px;
	
	background-image:url(image/no-title/h15.gif); 
	background-repeat: no-repeat;
	display: inline-block;

}







.h2{
	width:177px;
	height:218px;
	float: left;
	background-image:url(image/h2bg.gif); 
}

.h21{
	width:100%;
	height:23px;
	margin-top: 8px;
	margin-left: 12px;
	background-image:url(image/h21.gif); 
	background-repeat: no-repeat;

}

.h22{
	width:100%;
	height:23px;
	margin-top: 25px;
	margin-left: 12px;
	background-image:url(image/h22.gif); 
	background-repeat: no-repeat;

}

.h23{
	width:100%;
	height:23px;
	margin-top: 22px;
	margin-left: 12px;
	background-image:url(image/h23.gif); 
	background-repeat: no-repeat;

}

.h24{
	width:100%;
	height:23px;
	margin-top: 18px;
	margin-left: 12px;
	background-image:url(image/h24.gif); 
	background-repeat: no-repeat;

}

.h25{
	width:100%;
	height:23px;
	margin-top: 18px;
	margin-left: 12px;
	background-image:url(image/h25.gif); 
	background-repeat: no-repeat;

}

.h3{
	width:348px;
	height:218px;
	float: right;
	background-image:url(image/h3.jpg); 
	

}

.h4{
	width:520px;
	height:250px;
	float: right;
	border:1px solid black;
	
}

.h41{
	width:499px;
	height:41px;
	margin-left: 10px;
	background-image:url(image/no-title/h4.gif); 
	background-repeat: no-repeat;
	

}

.h42{
	width:51px;
	height:80px;
	margin-top: 10px;
	margin-left: 50px;
	background-image:url(image/no-title/h422.gif); 
	
	

}


.h44{
	width:99px;
	height:15px;
	margin-top: 4px;
	margin-left: 30px;
	background-image:url(image/no-title/h44.gif); 
	
	

}

.h43{
	width:145px;
	height:1px;
	margin-top: 10px;
	margin-left: 20px;
	background-image:url(image/no-title/h433.gif); 
	
	

}





