/*
* @Author: 凛冬
* @Date:   2018-07-09
* @Last Modified by:   凛冬
* @Last Modified time: 2018-07-09
*/
html{
	width: 780px;
}
.left{
	float: left;
	width: 250px;
}
#select{
	margin-left: 30px;
}
.hr{
	height: 721px;
	width: 3px;
}
.middle-head{
	float: left;
	width: 68%;
	width: 500px;

}
#left{
	width: 150px;
	height: 218px;
	float: left;
	/*background-size: 10px;*/
	background-image:url( images/icon-bg.gif);
}
#right{
	float: left;
}
#mid{
}
.midleft{
	float: left;
	width: 240px;
}
#midright{
	float: left;
}