@charset "utf-8";
/* CSS Document */
html,body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;}
#divHead{
	width:100%;
	height:157px;
	background-image:url(../images/head1.jpg);
	background-repeat:no-repeat;}
#divBanner1{
	width: 214px;
	height: 100%;
	float:left;}
#divB11{
	width:214px;
	height:218px;
	background-image:url(../images/banner_bg1.jpg);
	background-repeat:no-repeat;}
#divB12{
	width:214px;
	height:140px;
	background-image:url(../images/banner_bh2.jpg);
	background-repeat:no-repeat;}
#divB13{
	width:214px;
	height:221px;
	background-image:url(../images/banner_bg3.jpg);
	background-repeat:no-repeat;}
#divBanner2{
	width: 591px;
	height: 100%;
	float:left;}
#divB21{
	width:189px;
	height:218px;
	background-image:url(../images/pic2bg2.jpg);
	background-repeat:no-repeat;}
#divB22{
	width:377px;
	height:183px;
	background-image:url(../images/banner_bg6.jpg);
	background-repeat:no-repeat;}
#divB23{
	width:377px;
	height:178px;
	background-image:url(../images/banner_bg8.jpg);
	background-repeat:no-repeat;}
#divBanner3{
	width: 766px;
	height: 100%;
	float:left;}
#divB31{
	width:175px;
	height:178px;
	background-image: url(../images/banner_bg5.jpg);
	background-repeat: no-repeat;}
#divB32{
	width:175px;
	height:178px;
	background-image: url(../images/banner_bg7.jpg);
	background-repeat: no-repeat;}
#divB33{
	width:175px;
	height:178px;
	background-image: url(../images/banner_bg9.jpg);
	background-repeat: no-repeat;}

